<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DeleteBookManageServlet</servlet-name>
        <servlet-class>controller.DeleteBookManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>controller.AboutUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookManagementServlet</servlet-name>
        <url-pattern>/BookManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/BlogListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/BlogDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackDetailServlet</servlet-name>
        <url-pattern>/FeedBackDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackServlet</servlet-name>
        <url-pattern>/FeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookManageServlet</servlet-name>
        <url-pattern>/DeleteBookManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHome</servlet-name>
        <servlet-class>controller.NewHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>verifyEmail.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRetrieval</servlet-name>
        <servlet-class>controller.PasswordRetrieval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCart</servlet-name>
        <servlet-class>controller.BookCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNewPass</servlet-name>
        <servlet-class>controller.SetNewPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>verifyEmail.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thisOrder</servlet-name>
        <servlet-class>controller.thisOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookManagementServlet</servlet-name>
        <servlet-class>controller.BookManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackDetailServlet</servlet-name>
        <servlet-class>controller.FeedBackDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackServlet</servlet-name>
        <servlet-class>controller.FeedBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewHome</servlet-name>
        <url-pattern>/NewHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/sendemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRetrieval</servlet-name>
        <url-pattern>/passwordretrieval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNewPass</servlet-name>
        <url-pattern>/setnewpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCart</servlet-name>
        <url-pattern>/BookCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/verifyemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thisOrder</servlet-name>
        <url-pattern>/thisOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
</web-app>
